<div class="board__background board__background--game">
    <div class="player-name__box player-name__box--player-1">
        <div class="player-name__text">{{player1}}</div>
        <img class="player-name__avatar player-name__avatar--player-1 {{#if player1LoggedIn}}player-name__avatar--logged-in{{/if}} {{#unless player1LoggedIn}}player-name__avatar--logged-out{{/unless}}"
             src="/assets/img/avatar-unknown.svg"/>
    </div>

    {{#unless onePlayer}}
    <div class="player-name__box player-name__box--player-2">
        <div class="player-name__text">{{player2}}</div>
        <img class="player-name__avatar player-name__avatar--player-2 {{#if player2LoggedIn}}player-name__avatar--logged-in{{/if}} {{#unless player2LoggedIn}}player-name__avatar--logged-out{{/unless}}"
             src="/assets/img/avatar-unknown.svg"/>
    </div>
    {{/unless}}

    <div class="board__grid"></div>
    <div class="card card--player-1"></div>
    <div class="card card--player-1"></div>
    <div class="card card--player-1"></div>
    <div class="card card--player-1"></div>
    <div class="card card--player-1"></div>
    <div class="card card--player-2"></div>
    <div class="card card--player-2"></div>
    <div class="card card--player-2"></div>
    <div class="card card--player-2"></div>
    <div class="card card--player-2"></div>
    <div class="score score--player-1"></div>
    <div class="score score--player-2"></div>
    <div class="player-selector player-selector--draw player-selector--hide"></div>
    <div id="card-name-message"
         class="message message--info message--bottom message--hidden message--text-center"></div>
    <div class="cursor cursor--hide"></div>
</div>

<audio id="selectorSound">
    <source src="{{gamePath}}sounds/selector.mp3" type="audio/mpeg">
</audio>
<audio id="flipCardSound">
    <source src="{{gamePath}}sounds/flip_card.mp3" type="audio/mpeg">
</audio>
<audio id="moveCardSound">
    <source src="{{gamePath}}sounds/move_card.mp3" type="audio/mpeg">
</audio>