@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("styles/style.min.css")">
    </head>
    <style>
            body {
                margin: 0;
                background: black;
            }

            #card-game {
                width: 100vw;
                height: 100vh;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
    </style>
    <body>
        @content
    </body>
</html>
